<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
<style>
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
.Button {
        font-family:'Rubik', sans-serif;
        font-size:20px;
        background-color: rgba(255, 255, 255, 0.0);
        cursor:pointer;
        border:0px;
        font-color:black;
}

</style>

</head>
<body>

</body>
</html>