<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
<style>
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
.Button {
        font-family:'Rubik', sans-serif;
        font-size:20px;
        background-color: rgba(255, 255, 255, 0.0);
        cursor:pointer;
        border:0px;
        font-color:black;
}

.radio{
    cursor:pointer;
}

.check_box{
    cursor:pointer;
}
</style>

</head>
<body>
<script>
        // 자동 로그아웃 Logout Timer 객체 정의
      var LogOutTimer = function() {
        var S = {
                  timer : null,
                  limit : 1000 * 60 * 15,
                  fnc   : function() {},
                  start : function() {
                            S.timer = window.setTimeout(S.fnc, S.limit);
                          },
                  reset : function() {
                            window.clearTimeout(S.timer);
                            S.start();
                          }
                };
	document.onmousemove = function() { S.reset(); };
            return S;
      }();
      // 로그아웃 체크시간 설정
      LogOutTimer.limit = 1000 * 60 * 15;
      // 로그아웃 함수 설정
      LogOutTimer.fnc = function() {
        location.href = "logout_page";
      }
      // 로그아웃 타이머 실행
      LogOutTimer.start();
</script>
</body>
</html>