<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script language="javascript">
//변수 = 부모창에서 값받기 / 팝업창 폼이름.네임값 = 부모창에서 온 변수
      function init(){
            pmsheetdata = opener.document.getElementById("pmsheetno_temp").value;
            document.pmsheetno.pmsheetno.value = pmsheetdata;
            }
      onload=init
</script>
<style>
body{
        position:fixed;top:10%;
}
selecttitle{

        font-size: 16px;
        font-family: arial;
        font-weight:bold;
}
.pmsheetno_css{
height:18px;
}
.submit_css{
height:24px;

}
</style>
</head>
<body>
<selecttitle>Please select the start date of this PM Sheet No. </selecttitle>
        <form action="" method="post" name="pmsheetno">
            {% csrf_token %}
            <input type="text" name="pmsheetno" class="pmsheetno_css">
            <input type="month"  class="calendartext" name="calendartext">
            <input type="submit"  class="submit_css" value="Submit"></form>
</body>
</html>